 #masthead-2{
  min-height: 400px;
  background-image: url('{{ site.baseurl }}/images/headers/rooftops-4.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#masthead-2 #branding{
  width: 19em;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: transparent;
  border: none;
  border: solid 1px #fff;
  border-radius: 10px;

  h1{
    padding: 0;
    margin: 0.3em 0;
  }
  h1 a{
    font-size: 35px;
    display: block;
    font-family: 'Marcellus', serif;
    color: #fff;
    margin: 0;
    &:hover, &:focus{
      color: darken(#fff, 10%);
      text-decoration: none;
    }
  }
  h2{
    font-size: 16px;
    margin: 0.3em 0;
    color: $nice-black;
    font-weight: bold;
    text-transform: uppercase;
  }
}
