<div id="pc-header-boxes">

  <div class="thumbnail text-center" id="pc-header-box-1">

    <p>Trusted Boiler & Chimney Services</p>

    <a href="#pc-cards-row" class="btn btn-primary btn-lg">Learn More</a>

  </div> <!-- end header box 1 -->

  <div class="thumbnail text-center" id="pc-header-box-2">

    <h4><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;077-9350-4934</h4>

    <a href="{{ site.baseurl }}/contact" class="btn btn-success btn-lg">Email</a>

  </div> <!-- end header box 2-->


</div>
