form#pc-form{
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 15px 0;
  background-color: lighten(#999, 30%);

  #contact-text1{
    padding: 20px;
    background-color: #fff;
    min-height: 350px;

    .form-group-1{
      margin-top: 20px;
      text-align: center;
      input{
        height: 50px;
        width: 80%;
        border: 3px solid  #337AB7;
      }
    }

    .form-group-2{
      margin-top: 20px;
      text-align: center;
      input{
        height: 50px;
        width: 80%;
        border: 3px solid  #337AB7;
      }
    }

  } // end col 2

  #contact-text2{
    min-height: 350px;
    background-color: #fff;
    padding: 20px;

    .form-group-3{
      margin-top: 20px;
      text-align: center;
      textarea{
        height: 175px;
        width: 80%;
        border: 3px solid  #337AB7;
      }

    } // end form group 3

    .form-group-4{
      margin-top: 15px;
      text-align: center;

      input{
        padding: 10px;
        color: #fff;
        background-color: #337AB7;
        border: none;
        transition: all 0.3s ease-in-out;

        &:hover, &:focus{
          background-color: lighten(#337AB7, 20%);
        }
      }
    } //end form group 4

  } //end col 2

} //end form
