<div class="row text-row">

  <div class="col-lg-6 col-md-12 col-sm-12">

    <div class="home-text1">
      <h3 class="text-center text-primary">Safety</h3>
      <hr>
      <p>OFTEC, the body concerned with maintaining standards in the heating industry in the UK and republic of Ireland, recommends that oil fired boilers should be serviced once per year. This reduces the chance of carbon monoxide formation, and ensures that the system is running economically. With respect to chimney cleaning, it is recommended that, if you are burning a solid fuel fire on a daily basis, you should have your chimney swept twice per year.</p>
    </div>

  </div><!-- end cols -->

  <div class=" col-lg-6 col-md-12 col-sm-12">

    <div class="home-text2">
      <h3 class="text-center text-primary">Contact Us</h3>
      <hr>
      <p>Please feel free to contact us if you have questions about any aspect of our service, we are very approachable and would be delighted to help you. We are based in greater Belfast, but carry out work throughout Northern Ireland. Click <a class="text-primary" href="{{site.baseurl }}/contact">HERE</a> to contact us via the email form, or give us a call on the number given above and below on the footer.</p>
    </div>

  </div><!-- end cols -->



</div> <!-- end row -->
