<div class="row text-row">

  <div class="col-lg-6 col-md-12 col-sm-12">

    <div class="home-text1">
      <h3 class="text-center text-primary">About Us</h3>
      <hr>
      <p>Based in Edenderry Village, Belfast, Village Sweep is a locally owned chimney and oil boiler maintenance firm. We were Established in 2013, and since then have been offering a range of services, from standard chimney sweeping to oil boiler repairs and maintenance. In addition, we have recently begun offering flue lining and stove fitting services. Our employees are fully trained, OFTEC qualified tradesmen.</p>
    </div>

  </div><!-- end cols -->

  <div class="col-lg-6 col-md-12 col-sm-12">

    <div class="home-text2">
      <h3 class="text-center text-primary">Our Services</h3>
      <hr>
      <p>In regard to chimney maintenance, our services range from thorough chimney and flue cleaning, to minor construction work such as re-pointing and fitting of cowls and cages. In terms of our oil boiler work, we use a modern servicing methodology, employing the latest flue gas analysis technology. In addition, we offer a standard repair service for all oil boilers. We cover most of Northern Ireland, including Belfast, Lisburn, Ards and beyond.</p>
    </div>

  </div><!-- end cols -->

</div> <!-- end row -->
