<div class="row" id="pc-cards-row">

<div class="col-md-4 col-sm-6">
  <div class="home-card" >

    <h3 class="text-center text-primary">Chimney Sweeping</h3>

    <div class="card-img-holder">

      <img src="../images/cards/sweep-1.jpg" class="img-rounded center-block" alt="" width="200" height="200">

      <div class="pc-curtain center-block">
        <div class="caption center-block">
          <h4 class="text-center">Thorough Cleaning Service</h4>
          <p class="text-center">Flues/Chimneys, Stoves/Open Fires</p>
        </div>
      </div>

    </div> <!-- end img-holder -->

    <p>We offer a comprehensive sweeping service, covering flues/chimneys, stoves/open fires. All of our sweeps are qualified professional tradesmen.</p>

  </div> <!-- end card -->
</div> <!-- end cols -->


<div class="col-md-4 col-sm-6">
  <div class="home-card" >

    <h3 class="text-center text-primary">Boiler Servicing</h3>
    <div class="card-img-holder">

      <img src="images/cards/boiler-1.jpg" class="img-rounded center-block" alt="" width="200" height="200">

      <div class="pc-curtain center-block">
        <div class="caption center-block">
          <h4 class="text-center">Oftec Qualified Engineers</h4>
          <p class="text-center">Flue Gas Analysis</p>
        </div>
      </div>

    </div> <!-- end img-holder -->

    <p>Boiler servicing by OFTEC qualified engineers. Boiler service includes efficiency test using latest flue gas analysis technology.</p>

  </div> <!-- end card -->
</div> <!-- end cols -->


<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
  <div class="home-card" id="card-3">

    <h3 class="text-center text-primary">Stove Fitting And Flue Lining</h3>

    <div class="card-img-holder">

      <img src="images/cards/stove-1.jpg" class="img-rounded center-block" alt="psd to code" width="200" height="200">

      <div class="pc-curtain center-block">
        <div class="caption center-block">
          <h4 class="text-center">Stove Fitting And Flue Lining</h4>
          <p class="text-center">Safely Fitted</p>
        </div>
      </div>

    </div> <!-- end img-holder -->

    <p>We now offer stove fitting and flue lining. Stoves and lining safely fitted by fully trained, experienced tradesmen. Quality installation guarantee.</p>

  </div> <!-- end card -->

</div> <!-- end cols -->
</div><!-- end row -->
