</div> <!-- end container -->
<div class="container-fluid" id="para-fluid">

<div class="row" id="para-band-wrap">

  <div class="col-md-12" id="para-col">

    <div id="para-window" class="center-block">

      <div id="para-curtain">
        <div id="para-caption" class="text-center">
          <div id="text-mover">
            <h4>Siam Editing</h4>
            <p>Academic Editing</p>
          </div>
        </div>
      </div>

    </div> <!-- end para window -->

  </div> <!-- end cols -->

</div> <!-- end row -->

</div> <!-- container fluid -->
<div class="container">
