</div> <!-- end container -->
<div class="container-fluid" id="fluid-1">

<div class="row" id="color-band-1-wrap">

  <div class="col-md-5 col-sm-6 band-column-1">

    <img src="images/bands/band-1.jpg" id="band-1-img"
 alt="buddha sitting" width="500" height="300" class="center-block">

  </div> <!-- end cols -->

  <div class="col-md-7 col-sm-6 band-column-2">
    <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

      <div id="band-1-text">
        <h4>Professional chimney and boiler services at unbeatable rates</h4>
        <p>fully trained tradesmen, quality guarantee</p>
      </div> <!--text -->

    </div> <!-- end nested cols -->
    </div> <!-- end nested row -->
  </div><!-- end cols-->

</div> <!-- end row -->

</div> <!-- container fluid -->
<div class="container">
