<section class="section bg-lightgreen" id="footer-section-1">
<div class="container">
  	<div class="row" id="footer-row-1">

  	  <div class="col-md-8 col-md-offset-2" >
        <h1 class="text-center">Contact Us To Check Prices</h1>
      	<p class="lead text-center">Use the contact form above, or give us a call to arrange a visit or Skype cal.</p>
      	<div class="text-center" id="button_holder">
          <a class="btn btn-hollow btn-large" href="http://localhost/mobilefrog_wp/contact-us/"
          <strong>Get In Touch</strong>
          </a>
      	</div> <!-- end text center / button holder-->
  	  </div> <!-- end col 8 -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end section --> <!-- green call out -->
