<div class="row" id="row-footer-boxes">

<div class="col-sm-6 col-md-3 pc-box-bottom"> <!-- box 1 -->

	<div id="box1_container">
			<div id="box1">
	    	<div class="front">
	    		<span class="glyphicon glyphicon glyphicon-phone gi-2x"></span>
	    		<hr/>
	    		<h4>Mobile And Tablet Friendly</h4>
				</div> <!-- end front -->
				<div class="back">
	    		<span class="glyphicon glyphicon glyphicon-phone gi-2x"></span>
	    		<hr/>
	    		<h4>Mobile And Tablet Friendly</h4>
				</div> <!-- end back -->
	    </div> <!-- end box -->
		</div> <!-- end box container-->

</div> <!-- end col-->

<div class="col-sm-6 col-md-3 pc-box-bottom"> <!-- box 2 -->
	<div id="box2_container">
	  <div id="box2">
	    <div class="front">
	    	<span class="glyphicon glyphicon-globe gi-2x"></span>
	    	<hr/>
				<h4>Search Engine Optimised</h4>
			</div> <!-- end front -->
			<div class="back">
	    	<span class="glyphicon glyphicon-globe gi-2x"></span>
	    	<hr/>
				<h4>Search Engine Optimised</h4>
			</div> <!-- end back -->
		</div> <!-- end box -->
	</div> <!-- end box container-->
</div> <!-- end  3-->

<div class="col-sm-6 col-md-3 pc-box-bottom">  <!-- box 3 -->
	<div id="box3_container">
	  <div id="box3">
	  	<div class="front">
	  		<span class="glyphicon glyphicon-flash gi-2x"></span>
	  		<hr/>
				<h4>Powered By Eminent CMS</h4>
			</div> <!-- end front -->
			<div class="back">
	    	<span class="glyphicon glyphicon-flash gi-2x"></span>
	    	<hr/>
				<h4>Powered By Eminent CMS</h4>
			</div> <!-- end back -->
	  </div> <!-- end box -->
	</div> <!-- end box container-->
</div> <!-- end  3-->

<div class="col-sm-6 col-md-3 pc-box-bottom"> <!-- box 4 -->
	<div id="box4_container">
    <div id="box4">
			<div class="front">
    		<span class="glyphicon glyphicon-lock gi-2x"></span>
    		<hr/>
				<h4>Secure Data Management</h4>
			</div> <!-- end front -->
			<div class="back">
    		<span class="glyphicon glyphicon-lock gi-2x"></span>
    		<hr/>
				<h4>Secure Data Management</h4>
			</div> <!-- end back -->
    </div> <!-- end box -->
	</div> <!-- end box container-->
</div> <!-- end col 3-->

</div> <!-- end row footer boxes -->
