<div class="container-fluid" id="footer-fluid-2">

<section id="footer-section-2">
  <div class="container">
  <div class="row">

    <div class="col-md-6 col-sm-6">
      <div id="footer-nav-holder">
        {% include _footer/footer-nav.html %}
      </div>
    </div> <!-- end cols -->

    <div class="col-md-6 col-sm-6">
      <div id="date" class="text-primary">
        <span> &copy; <script type="text/javascript"> document.write(new Date().getFullYear());</script>&nbsp;Village Sweep</span>
      </div>
    </div> <!-- end cols -->

  </div> <!-- end bottom row -->
 </div> <!-- end container -->
</section>

</div> <!-- container fluid  2 -->
