<form id="pc-form" class="row" action="//formspree.io/sparkosone@hotmail.com" method="POST">

  <div class="col-lg-6 col-md-12 col-sm-12">
  <div id="contact-text1">

    <div class="form-group-1 center-block">
      <label>Your Name</label><br>
      <input type="text" name="name">
    </div>

    <div class="form-group-2 center-block">
      <label>Your Email Address</label><br>
      <input type="email" name="_replyto">
    </div>

  </div> <!-- end contact-text1 -->
  </div> <!-- end cols -->


  <div class="col-lg-6 col-md-12 col-sm-12">
  <div id="contact-text2">

    <div class="form-group-3 center-block">
      <label>Your Message</label><br>
      <textarea name="message"></textarea>
    </div>

    <div class="form-group-4 center-block">
      <input type="submit" value="Send">
    </div>

  </div> <!--contact-text2 -->
  </div> <!-- cols -->

</form> <!-- end form and row -->
