//colors
$fbs-green-flat-dark: #16a085;
$fbs-green-flat: #19B798;
$fbs-green-bright: #2ecc71;

$fbs-blue-flat: #34495e;
$fbs-blue-light: #3498db;
$fbs-blue-dark: #2980b9;

$light-gray-blue: #add8e6;
$text-blue: #3691af;
$lovely-blue: #407fbf;

$nice-black: #272727;
$almost-black: #2f2f2f;
$not-quite-black: #222;
$black: #000;

$vdark-gray: #333;
$dark-gray: #424242;
$mid-gray: #555;
$light-gray: #666666;
$vlight-gray: #999;
$background-gray: #f3f3f3;

$light-purple: #9B59B6;

$mistyrose: #FFE4E1;
